@charset "UTF-8";
section, article, aside, footer, header, nav, hgroup {
    display: block;
}

section#contents{
	    margin-top: 72px;
	    
}
.cards-wrap {
    width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}
.cards-wrap .card-top .card-desc .card-title, .cards-wrap .card .card-desc .card-title{
	font-size: 16px;
    letter-spacing: -0.02px;
    color: #212529;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 4px;
    line-height: 1.5;
    font-weight: normal;
}
.cards-wrap .card-top .card-desc .card-counts, .cards-wrap .card .card-desc .card-counts {
    color: #868e96;
    font-size: 13px;
}

.img{
	width: 100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    background-color: #F8F9FA;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
}
.card-photo{position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 12px;
    border: 1px solid transparent;}